.comment {
    margin: 1rem 0;
    padding: 0.7rem 1rem;
    border-width: 0;
    background-color: white;
    .top {
        margin-bottom: 0.5rem;
        .username {
            margin-right: 0.3rem;
            font-weight: bold;
            font-size: 0.9rem;
        }
        .date {
            font-size: 0.9rem;
            color: gray;
        }
    }
}
