@import "../../scss/config";
$footer-height: 100px;

.wrap {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navBar {
    background-color: $primary-color;
    padding: 1rem;
    // height: 3rem;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    .brand {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    .navLink {
        text-decoration: none;
        color: black;
    }
    button {
        border-width: 0;
        padding: 0.3rem;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
    }
}
.container {
    margin: 0 auto;
    flex: 1;
    padding: 2rem;
    width: 60%;
    max-width: 900px;
    // min-height: 100vh;
    // background-color: blue;
}

// .footer {
//     background-color: rgb(44, 44, 44);
//     color: white;
//     font-weight: bold;
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     justify-content: center;
//     align-content: center;
//     padding: 10px 5px 5px;
//   }

.footer {
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    span {
        font-size: 0.9rem;
    }
    div {
        flex-grow: 1;
        margin: 1rem;
    }
}
