@import '../../scss/config';
.navBar {
    background-color: $primary-color;
    padding: 1rem;
    // height: 3rem;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    .brand {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    .navLink {
        text-decoration: none;
        color: black;
    }
    button {
        border-width: 0;
        padding: 0.3rem;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
    }
}
.container {
    margin: 0 auto;
    padding: 2rem;
    width: 60%;
    max-width: 900px;
}