@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$primary-color: #e9c46a;
$background-color: #e5e5e5;

$left-color: #2187e7;
$right-color: $primary-color;

$alert-danger-color: rgb(255, 178, 178);
$alert-success-color: rgb(179, 228, 179);